.light {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: grey;
    margin: 8px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
}